.addButton {
	font-family: var(--font-mono);
	background-color: #4855e0;
	border-radius: 20px;
	color: white;
	padding: 10px;
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

.productHeader {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.productBody {
	border: 1px solid rgba(var(--card-border-rgb), 0);
}

.productDetails {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
}

.extraInfo {
	display: flex;
	margin-top: 10px;
	justify-content: space-around;
}
