/**
* Hamburger button
*/

.hamburgerBtn {
	/**
  * using the height of the element and multiplying by the square root of 2
  */
	--x-width: calc(var(--hamburger-height) * 1.41421356237);
	display: flex;
	flex-direction: column;
	gap: 6px;
	width: max-content;
	position: absolute;
	top: 60px;
	right: 20px;
	z-index: 2;
	cursor: pointer;
}

.hamburgerBtn:has(input:checked) {
	--foreground: white;
	--background: #333;
}

.hamburgerBtn:has(input:focus-visible)::before,
.hamburgerBtn:has(input:focus-visible)::after,
.hamburgerBtn input:focus-visible {
	border: 1px solid var(--background);
	box-shadow: 0 0 0 1px var(--foreground);
}

.hamburgerBtn::before,
.hamburgerBtn::after,
.hamburgerBtn input {
	content: "";
	width: var(--bar-width);
	height: var(--bar-height);
	background-color: var(--foreground);
	border-radius: 9999px;
	transform-origin: left center;
	transition: opacity var(--animation-timing), width var(--animation-timing),
		rotate var(--animation-timing),
		translate var(--animation-timing) background-color var(--animation-timing);
}

.hamburgerBtn input {
	appearance: none;
	padding: 0;
	margin: 0;
	outline: none;
	pointer-events: none;
}

.hamburgerBtn:has(input:checked)::before {
	rotate: 45deg;
	width: var(--x-width);
	translate: 0 calc(var(--bar-height) / -2);
}

.hamburgerBtn:has(input:checked)::after {
	rotate: -45deg;
	width: var(--x-width);
	translate: 0 calc(var(--bar-height) / 2);
}

.hamburgerBtn input:checked {
	opacity: 0;
	width: 0;
}

.sidebarHamburger {
	translate: 300%;
	position: relative;
	padding: 0.5rem 23px;
	padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 2rem);
	left: 171%;
	background-color: var(--foreground);
	color: var(--background);
	height: 100vh;
	transition: translate var(--animation-timing);
	min-height: 100vh;
}

.hamburgerBtn:has(input:checked) + .sidebarHamburger {
	translate: -86%;
}

.navContainer {
	display: flex;
	flex-direction: column;
}

.navContainer a {
	padding: 20px 0 10px;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.65);
	transition: all 0.4s;
}

.navContainer a:hover {
	color: rgba(255, 255, 255, 1);
}

.searchAndFilterContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-bottom: 20px;
}

.searchFilters {
	display: flex;
}

.filterButtons {
	display: flex;
}

.searchElements {
	display: flex;
	justify-content: space-around;
	height: 25px;
	margin: 0 15px;
}

.searchProductContainer {
	margin: 30px;
}

.searchResult {
	display: grid;
	grid-template-columns: repeat(3, 600px);
	grid-template-rows: repeat(3, 400px);
	width: var(--max-width);
	gap: 20px;
	margin-left: 30px;
}
