.main {
	display: flex;
	font-family: var(--font-mono);
	position: relative;
	top: -1200px;
	z-index: -1;
	overflow-x: hidden;
	align-content: space-around;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.main h2 {
	font-weight: 600;
	color: rgb(155, 127, 229);
}

/* Mobile */
@media (max-width: 700px) {
	.main {
		padding: 4rem;
	}
}

@keyframes rotate {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@media (min-height: 2500px) and (max-height: 1200px) {
	.main {
		top: -600px;
	}
}

@media (min-height: 900px) and (max-height: 1000px) {
	.main {
		top: -900px;
	}
}

@media (min-height: 300px) and (max-height: 900px) {
	.main {
		top: -700px;
	}
}
